        <li class='post {% if post.emphasize %}emphasize{% endif %}'>
          <div class="inner">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {% if post.images %}
              {% if post.images[0].external %}
              <p>
                <a href="{{ post.images[0].src }}">
                  <img src='{{ post.images[0].src }}' />
                </a>
              </p>
              {% else %}
              <p>
                <a href="{{ site.image_path }}/large/{{ post.images[0].src }}">
                  {% if post.emphasize %}
                    <img src='{{ site.image_path }}/medium/{{ post.images[0].src }}' />
                  {% else %}
                    <img src='{{ site.image_path }}/thumbs/{{ post.images[0].src }}' />
                  {% endif %}
                </a>
              </p>
              {% endif %}
            {% elsif post.video %}
              {% oembed {{post.video}} %}
            {% endif %}

            {{ post.excerpt | strip_html | truncatewords:50 }}
            
            <a class='read-more' href="{{ post.url | prepend: site.baseurl }}">Read More &rarr;</a>
          </div>
        </li>
