@mixin column-count($cols) {
  -webkit-column-count: $cols;
     -moz-column-count: $cols;
          column-count: $cols;
}

@mixin column-width($width) {
  -webkit-column-width: $width;
     -moz-column-width: $width;
          column-width: $width;
}

@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
          column-gap: $gap;
}

@mixin no-columns() {
	@include column-count(auto);
	@include column-width(auto);
}

@mixin bmw-spin() {
  -webkit-animation: bmw-spin 2s infinite linear;
          animation: bmw-spin 2s infinite linear;
}

@-webkit-keyframes bmw-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes bmw-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}  
