.clear { clear: both; }
hr.clear { border: none; border-top: 1px solid #eee; margin: 1em 0 }
.quiet, .quiet a { color: #888; font-weight: lighter; }

body {
	margin-top: 3em;
}

.site-header {
	background-color: #fdfdfd;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1009;
}

.wrapper {
	max-width: none;
}

.post-list .post {
	float: left;
	margin-bottom: 0;
	width: 33%;

	&:nth-child(3n+1) {
		clear: left;
	}

	&:first-child {
		clear: none;
	}

	.inner {
		border-left: 1px solid #e3e3e3;
		padding: 1em 2em 3em 1em;
	}

	.post-meta {
		border-top: 1px solid #ddd;
		margin-left: -1em;
		padding-left: 1em;
		padding-top: 1em;
	}

	.read-more {
		display: block;
		text-align: right;
	}
}

.has-sidebar {
	padding-left: 250px;
}

.sidebar-main .post.single {
	max-width: 640px;
}

.sidebar-sidebar {
	float: left;
	margin-left: -250px;
	width: 250px;

	.inner {
		padding-right: 2em;
	}

	.sidebar-item {

		ul {
			margin: 1em 0;
			padding: 0;

			ul {
				padding-left: 1em;
			}
		}

		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}


.post.album {

	.post-header > * {
		margin: 0 0 10px;
		padding: 0;
	}

}

.post.album.has-meta {

	.post-header {
		width: 50%;
		float: left;
	}

	.meta {
		width: 40%;
		margin-left: 2em;
		float: right;

		dl {
			float: left;
			width: 10em;

			dt {
				font-weight: bold;
			}
		}
	}
}


.gallery {

	margin-bottom: 3em;

	.item {
		display: inline-block;
		margin: 0;
		min-height: 100px;
		width: 300px;
		padding: 0;
	}
}

.portfolio-list {
	@include column-count(3);
	@include column-gap(1em);

	.item {
		background-color: #f8f8f8;
		border: 1px solid #eee;
		display: inline-block;
		margin: 0 0 1em;
		min-height: 100px;
		padding: 15px;
		position: relative;

		.caption {
			display: none;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;

			a {
				background-color: rgba(100, 100, 100, 0.7);
				color: #fff;
				display: block;
				font-size: small;
				padding: 1em;
				margin: 0 16px 16px;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&:hover .caption {
			display: block;
		}
	}
}