@include media-query($on-laptop) {

	.post-list .post {
		width: 50%;

		&:nth-child(2n+1) {
			clear: left;
		}
	}

	.sidebar-main {
		width: auto;
	}

	.portfolio-list {
		@include column-count(2);
	}

	.post.album.has-meta {

		.post-header {
			width: auto;
			float: none;
		}

		.meta {
			width: auto;
			float: none;
			margin-left: 0;

			dl {
				float: left;
				width: auto;
				margin-right: 2em;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}



}