@include media-query($on-laptop) {

	.has-sidebar {
		padding-left: 0;
	}

	.sidebar-sidebar {
		float: none;
		margin-left: 0;
		width: auto;
	}

	.sidebar-main {
		float: none;
		width: auto;
	}


	.portfolio-list {
		@include column-count(2);
	}

	.post.album.has-meta {

		.post-header {
			width: auto;
			float: none;
		}

		.meta {
			width: auto;
			float: none;
			margin-left: 0;

			dl {
				float: left;
				width: auto;
				margin-right: 2em;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}



}