@include media-query($on-laptop) {

	.has-sidebar {
		padding-left: 0;
	}

	.sidebar-sidebar {
		border-bottom: 1px solid #eee;
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		padding: 0 2em 2em;
		width: auto;

		.sidebar-item {

			margin-bottom: 1.5em;

			li {
				display: inline;

				&:after {
					color: #999;
					content: "\2022"
				}
			}
		}
	}

	.sidebar-main {
		float: none;
		width: auto;

		.post.single {
			max-width: none;
		}
	}

	.portfolio-list {
		@include column-count(2);
	}

	.post.album.has-meta {

		.post-header {
			width: auto;
			float: none;
		}

		.meta {
			width: auto;
			float: none;
			margin-left: 0;

			dl {
				float: left;
				width: auto;
				margin-right: 2em;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}



}