---
layout: has_sidebar
---
<div class="post single">

  <header class="post-header">
  	<p class="quiet"><a href="/">&larr; Back to Posts</a></p>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    <p class="categories quiet">Posted in
	{% for category in page.categories %}
	- <a href='/category/{{ category | slugify }}'>{{ category }}</a>
	{% endfor %}
    </p>
  </header>

  <article class="post-content">

	{% if page.images.size == 1 %}
		{% if page.images[0].external %}
		<p>
			<a href="{{ page.images[0].src }}">
				<img src='{{ page.images[0].src }}' />
			</a>
		</p>
		{% else %}
		<p>
			<a href="{{ site.dropbox_path }}/large/{{ page.images[0].src }}">
				<img src='{{ site.dropbox_path }}/large/{{ page.images[0].src }}' />
			</a>
		</p>
		{% endif %}
	{% endif %}

    {{ content }}
  </article>

</div>
